.tripin-workflow-parent {

}

.tripin-workflow-parent-logo {
	background: #3498DB;
	background: linear-gradient(135deg, #3F77E6 0%, #42CBDE 100%);
	height: 180px;
	margin: -14px -14px 0;
	color: #FFF;
	text-transform: uppercase;
	position: relative;
	padding: 10px;
}

	.tripin-workflow-parent-logo img {
		display: block;
		border-radius: 100px;
		font-size: 32px;
		margin: 0 auto;
		color: #E74C3C;
		background: #FFF;
		width: 80px;
		padding: 10px;
	}

.tripin-workflow-parent-logo h2 {
  text-align: center;
}

/* event editor */
.tripin-event-editor {
  position: absolute;
  top: 0;
  background: #fff;
  left:  0;
  width: 100%;
  height: 100%;
}
.tripin-event-editor-label {
    display: inline-block;
    width: 40px;
}
.tripin-event-editor-row {
    margin: 0 0 5px 0;
}

/* event list */
.tripin-event-list-item {
    padding: 5px 0 5px 0;
    vertical-align: middle;
}

.tripin-event-list-item + .tripin-event-list-item { 
  border-top: 1px solid rgb(196, 33, 41);
}

.flat .new-button.dijitButton .dijitButtonNode {
	padding: 10px 70px;
	font-size: 1.2em;
}

@media all and (min-width: 768px) {
	.jimu-simple-panel {
		min-width: 400px;
	}
}

.tripin-info  div{
  margin: 5px 0 5px 0;
}

.tripin-info-name {
  font-weight: bold;
}

.tripin-info-count {
  color: #777;
}

.tripin-info-date {
  color: #777;
}

.tripin-info-description {

}

.tripin-info-social {
  cursor: pointer;
}








