.tripin-workflow-parent {

}

.tripin-workflow-parent-logo {
  text-align: center;
  background-color: #ccc;
}

.tripin-workflow-parent-logo h2 {
  margin: 0 !important;
  
}

.tripin-event-editor {
  /* TODO: real styles */
<<<<<<< HEAD
=======
}
>>>>>>> f83ec1b83e8fcb86b3bb58e3bd56c0fe08b1bc2f
