.tripin-workflow-parent {
	height: 100%;
}

.tripin-workflow-parent-logo {
	background: #3498DB;
	background: linear-gradient(135deg, #3F77E6 0%, #42CBDE 100%);
	height: 180px;
	margin: -14px -14px 0;
	color: #FFF;
	text-transform: uppercase;
	position: relative;
	padding: 10px;
}

	.tripin-workflow-parent-logo img {
		display: block;
		border-radius: 100px;
		font-size: 32px;
		margin: 0 auto;
		color: #E74C3C;
		background: #FFF;
		width: 80px;
		padding: 10px;
	}

.tripin-workflow-parent-logo h2 {
  text-align: center;
}

/* event editor */
.tripin-event-editor {
	position: absolute;
	top: 180px;
	background: #FFF;
	left: 0;
	bottom: 0;
	margin: -14px;
	right: 0;
	padding: 0 15px;
}
.tripin-event-editor-label {
    display: inline-block;
    width: 40px;
}
.tripin-event-editor-row {
    margin: 10px 0;
}
.tripin-event-editor-label {
color: #999;
margin-right: 10px;
font-size: 0.8em;
}
.tripin-event-editor-row.tripin-event-editor-buttons {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #DDD;
	left: 0;
	right: 0;
	padding: 10px;
	text-align: center;
}


.flat .tripin-event-editor-row.tripin-event-editor-buttons .dijitButton .dijitButtonNode {
	padding: 8px 20px;
}

.flat .tripin-event-editor-row.tripin-event-editor-buttons .dijitButton.dojo-btn-success .dijitButtonNode {
	padding: 8px 50px;
}

/* new event */

.tripin-workflow-parent-new-event {
	text-align: center;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #DDD;
	margin: -14px;
	left: 0;
	right: 0;
	padding-top: 10px;
}

.tripin-workflow-title {
	margin: 20px 15px;
	font-size: 0.8em;
}

.event-start,
.event-end {
	padding: 5px 10px;
	background: #1abc9c;
	color: #fff;
	border-radius: 4px;
	margin: 0 5px;
	font-size: 1.2em;
}
/* event list */

.tripin-event-list {
	padding: 15px;
	vertical-align: middle;
	background: #FFF;
	margin: 0 -29px;
}

.tripin-event-list-title {
	background: #EEE;
	box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.4);
	color: #777;
}
	.tripin-event-list > div:first-child {
		padding: 10px;
	}
.tripin-event-list-item {
    padding: 15px;
    vertical-align: middle;
	cursor: pointer;
}

	.tripin-event-list-item:hover,
	.tripin-event-list-item.tripin-selected {
		background: #3498db;
		color: #fff;
	}
	.tripin-event-list-item:active {
		background: #2980b9;
		color: #fff;
	}

.tripin-event-dates {
	font-size: 0.7em;
	color: #FFF;
	background: #3498DB;
	float: right;
	padding: 3px 7px;
	border-radius: 24px;
	margin-top: -2px;
	opacity: 0.8;
}

.tripin-event-list-item + .tripin-event-list-item { 
  border-top: 1px solid #eee;
}




.flat .new-button.dijitButton .dijitButtonNode {
	padding: 10px 70px;
	font-size: 1.2em;
}

@media all and (min-width: 768px) {
	.jimu-simple-panel {
		min-width: 400px;
	}
}

.tripin-info  div{
  margin: 5px 0 5px 0;
}

.tripin-info-name {
  font-weight: bold;
}

.tripin-info-count {
  color: #777;
}

.tripin-info-date {
  color: #777;
}

.tripin-info-description {

}

.tripin-info-social {
  cursor: pointer;
}








